.project1 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;  
}
.poll table, th, td, tr {
    border: 1px solid black;
}
.h2 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;  
}
.h3 {
    color:blue;
    font-family: 'Times New Roman', Times, serif; 
}
.reference {
    font-family: 'Times New Roman', Times, serif;
}