html,body {
    background-image: url("https://wallpapercave.com/wp/1ecsoou.jpg");
    background-color: #917575;
}
h1, h2 {
    left: 100px;
    color: #ff0000d0;
    font-family: 'Krona One', sans-serif;
    font-family: 'Lalezar', cursive;
    font-size: 55px;
}
p {
    color: white;
}
nav {
    background-color: lightgray;
    color:rgb(78, 78, 143);
    width: 183px;
}
.house {
    color:gold;
    font-size: large;
}
.chef {
    position: relative;
    left: 70px;
    border: green;
    width: 425px;
}
#food {
        border: 3px solid green;
        border-collapse: collapse;
        width: 500px;
        color: whitesmoke;
}
th,td {
    height: 30px;
    border: 5px solid green;
    color:   #ff0000d0;
    width: 300px;
}td {
    height: 50px;   
}

