html,body {
    background-image: url("https://wallpapercave.com/wp/1ecsoou.jpg");
    background-color: #cccccc;
}
h1 {
    color: #ff0000d0;
    font-family: 'Krona One', sans-serif;
    font-family: 'Lalezar', cursive;
    font-size: xx-large;
}
.Chef {
    background: green;
    padding: 12px;
    border: 2px solid  #ff0000d0;
}
main, table, th, td {
        border: 2px solid green;
        text-align: center;
        font: #ff0000d0;
        margin: 10px;
        padding: 30px;
        width: 100px;
}
nav {
    background-color: lightgray;
    color: black;
}


