html, body {
   margin: 0; 
   padding: 0;
}
.p {
    color: black;
    display: inline;
}
.div nav-bar  {
    position: fixed;
    width: 50%;
    margin: 10px;
    background-color: lightslategray;
}
.about us {
    position: relative;
    left: 315px;
}
.contact {
    position: relative;
    left: 150px;
}
.img {
    display: block;
}