html
nav {
    position: fixed;
    width: 25%;
    margin: 15px;
    background: rgb(245, 235, 196);
    }
.contact {
    left: 170px;   
}
.aboutus {
    left: 100px;
    color: crimson;
}
.home {
    left: 50px;
    color: navy;
}
img {
    float: left;
}