
.item1 {
    background-color: #e21708;
    width: 200px;
    height: 100px;
    border: 2px solid #d2f35b;    
}
.item1:hover {
    width: 100px;
    height:  65px;
    background-color: purple;
    margin: 50px;
}   
.item2 {
    background-color: rgb(141, 49, 6);
    width: 200px;
    height: 100px;
    border: 2px solid rgb(11, 28, 180);
}
.item2:hover {
    width: 100px;
    height:  65px;
    background-color: rgb(19, 204, 19);
    margin: 50px;
}   
.item3 {
    background-color: rgb(236, 238, 115);
    width: 200px;
    height: 100px;
    border: 2px solid red;
}
.item3:hover {
    width: 100px;
    height:  65px;
    background-color: yellowgreen;
    margin: 50px;
}   
.item4 {
    background-color: mediumblue;
    width: 200px;
    height: 100px;
    border: 2px solid rgb(230, 22, 126);
}
.item4:hover {
    width: 100px;
    height:  65px;
    background-color: gray;
    margin: 50px;
}   
.item5 {
    background-color: rgb(214, 8, 87);
    width: 200px;
    height: 100px;
    border: 2px solid rgb(238, 153, 78);
}
.item5:hover {
    width: 100px;
    height:  65px;
    background-color: purple;
    margin: 50px;
}   
.item6 {
    background-color: #1496d3;
    width: 200px;
    height: 100px;
    border: 2px solid aqua;
}
.item6:hover {
    width: 100px;
    height:  65px;
    background-color: navy;
    margin: 50px;
}