html, body {
    background-color: rgb(245, 190, 109);
    text-align: center;
}   
.fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: xx-large;
}
.header {
    text-align: center;
    padding: 32px;
}
.flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.row {
    display: flex; 
    flex-direction: column;
    padding:  4px;
    align-items: center;
}
.column {
    display: flex; 
    flex-direction: column;
    flex: -75%;
    padding: 0 4px;
}
.Bird, main {
   display: flex;
   flex-direction: column;
   align-items: center; 
}  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 500px;
    height: auto;
}
@media only screen and (min-width: 700px){
}
.row{
    display: grid;
    grid-template-columns: 50%;
}